*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  // THIS DEFINES WHAT 1REM IS
  font-size: 55%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
